# Ambiente virtual do Python
venv/

# Arquivo de variáveis de ambiente
.env

# Pastas de cache do Python
__pycache__/
*.pyc

# Ignorar dependências do Node
node_modules/

# Arquivos de sistema
.DS_Store

.env.local